# Quarto and build files
/_book/
/.quarto/
/_site/
local/*
# We store the mlx and md files, but not the html, _files or _media
code/*.html
code/*_files
code/*_media

# R specific
.Rhistory
.RData
.Rproj.user/

# Python specific
__pycache__/
*.pyc

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
*.sublime-workspace
*.sublime-project

# Emacs
*~

# Image editor specific
*afphoto*
*afdesign*

# Don't upload the rendered pdf
index.pdf
index.log
index.tex
index.toc
index.aux

# Manage the resources
resources/*.html
resources/*_files


code/fise_opticsCountingPhotons.html
code/fise_opticsCountingPhotons.html
