# Quarto and build files
/_book/
/.quarto/
/_site/
local/*


# R specific
.Rhistory
.RData
.Rproj.user/

# Python specific
__pycache__/
*.pyc

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
*.sublime-workspace
*.sublime-project

# Emacs and bib~
*~

# Image editor specific - These are no longer here
# I put them in a Google Drive
*afphoto*

# Don't upload the rendered pdf
index.pdf
index.log
index.tex
index.toc
index.aux

# Manage the resources
# I am unclear about these.
resources/*.html
resources/*_files

# Not sure whether we should store the html files
# How do we go from mlx to md to html?
code/*.html
code/*/*.html